*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    /* position: relative; */
    width: 100%;
}
.box{
    height: 150px;
    width: 600px;
    border: 2px solid black;
    margin: 20px ;
}
.box1{
    background-color: red;
    position:sticky; /* relative to the viewport and it is removed from the normal document flow. */
    top: 0px;
    z-index: 1;
}
.box2{
    background-color: green;
    position: relative; /* relative to itself, It covers the space of it's orignal place. */
    left: 100px;
}
.box3{
    background-color: blue;
    position:absolute; /* relative to the container and it is removed from the normal document flow.*/
    right: 0px;
}
.box4{
    background-color: yellow;
}
.box5{
    background-color: pink;
}
.box6{
    background-color: purple;
}