<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/form.css">
    <title>wonderlust</title>
</head>
<body>
    <div class="container">
        <h1>Create your list</h1>
        <form method="post" action="/listing">
        <input type="text" name='listing[title]' placeholder="Enter your title">
        <input type="number" name='listing[price]' placeholder="Enter your price">
        <input type="text" name='listing[image]' placeholder="Enter your image url/link">
        <textarea name='listing[description]' placeholder="Enter your description"></textarea>
        <input type="text" name='listing[location]' placeholder="Enter your location">
        <input type="text" name='listing[country]' placeholder="Enter your country">
        <button>submit</button>
    </form>
    </div>
</body>
</html>