<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/new.css">
    <title>Create your chat</title>
</head>
<body>
    <div class="container">
        <h1>Create Your Chat</h1>
        <form method="post" action="new">
            <input type="text" name="sender" placeholder="Enter the sender's name"><br>
            <input type="text" name="receiver" placeholder="Enter the receiver's name"><br>
            <textarea name="message" placeholder="Enter your message..." cols="50" rows="6"></textarea><br>
            <button>Submit</button>
        </form>
    </div>
</body>
</html>