.container{
    height: 300px;
    width: 80%;
    border:2px solid black;
    margin: 0 auto;
    background-color: azure;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    align-items: cente;
}
h1{
    text-align: center;
}
.container div{
    height: 100px;
    width: 300px;
    color: white;
    text-align: center;
    font-size: 1.5em;
}