<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your user</title>
</head>
<body>
    <div class="container">
        <h1>Edit your user, Email : <%= user.email %></h1>
        <form method="post" action="/user/<%= user.id %>?_method=PATCH">
            <input type="text" name="username" value="<%= user.username %>" placeholder="Enter your password">
            <input type="password" name="password">
            <button>Submit</button>
        </form>
    </div>
</body>
</html>