<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs</title>
</head>
<body>
    <h1>This the home page.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis facilis, soluta iste id tempore laboriosam commodi expedita, cum dolorem delectus sit impedit corporis cumque ipsa. Sunt qui labore blanditiis reiciendis reprehenderit debitis repellat assumenda et, quas corporis velit incidunt neque nostrum pariatur quasi aliquid aut animi laudantium possimus est distinctio. Corporis ipsam repellendus ducimus praesentium fugiat, earum quo saepe debitis suscipit consequuntur eum maiores maxime natus tenetur porro beatae doloribus explicabo. Id, officia sit adipisci odit vel debitis deserunt dicta, non accusantium voluptatibus, ipsa quod placeat accusamus iure assumenda officiis? Voluptatibus esse corporis praesentium minus excepturi! Assumenda tempora minus at exercitationem. Sed temporibus necessitatibus, accusantium suscipit maiores eligendi unde.</p>

    <button>click me</button>
</body>
</html>