<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Dice Number is : <%= dice %></h1>
    <%if(dice == 6){ %>
        <h2>Congratulation! you got 6.</h2>
        <% } %>
</body>
</html>