<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit content</title>
</head>
<body>
    <h1>Edit the content -></h1>
    <p>Post user : <%= post.username %></p>
    <p>Post id : <%= post.id %></p>
    <form method="post" action="/posts/<%= post.id %>?_method=PATCH">
        <textarea cols="60" rows="5" name="content"><%= post.content %></textarea>
        <button>Submit</button>
    </form>
</body>
</html>